.card-img-top {
  height: 100px;
  width: 100px;
  border: solid #43394c 2px;
  border-radius: 10px !important;

}

.card{
  height: 100px;
  width: 100px;
  margin-right: 40px;
  margin-left: 40px;
  border: none;
  background: none;
}

body {
  font-family: "Garamond" ;
}
h1 {
  color: #43394c;
}
